TA3/flows.json
[
    {
        "id": "347e7f782f97f73a",
        "type": "ui_gauge",
        "z": "5eb85658fb486e67",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "02037006da6da4b6",
        "type": "mqtt in",
        "z": "5eb85658fb486e67",
        "name": "",
        "topic": "humValue",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "347e7f782f97f73a",
                "f12b1a1aa98b09b1"
            ]
        ]
    },
    {
        "id": "a9297198a4bb9d64",
        "type": "mqtt in",
        "z": "5eb85658fb486e67",
        "name": "",
        "topic": "tempValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "f12b1a1aa98b09b1",
                "b75beb897f68a5c5"
            ]
        ]
    },
    {
        "id": "a55fb64e2f73edf1",
        "type": "function",
        "z": "5eb85658fb486e67",
        "name": "AddToArray",
        "func": "var tableData = flow.get(\"savedData\") || []\n\nmsg.payload[\"timeStamp\"] = new Date().toLocaleString()\n\nif(tableData.length>0 )\n{   \n   tableData.unshift( msg.payload)\n}\nelse if(tableData.length==0){\n   tableData.unshift( msg.payload)\n}\n\nmsg.payload = tableData\n\nflow.set(\"savedData\", tableData)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"savedData\", [])",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "20d3c649c4f4c19d",
                "8b3a91a92453fd3a"
            ]
        ]
    },
    {
        "id": "f12b1a1aa98b09b1",
        "type": "join",
        "z": "5eb85658fb486e67",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "a55fb64e2f73edf1",
                "c634786b02218dc8"
            ]
        ]
    },
    {
        "id": "20d3c649c4f4c19d",
        "type": "ui_table",
        "z": "5eb85658fb486e67",
        "group": "d7add96eb24337e9",
        "name": "Data Table",
        "order": 1,
        "width": "20",
        "height": "5",
        "columns": [
            {
                "field": "timeStamp",
                "title": "Time Stamp",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tempValue",
                "title": "Temperature",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phValue",
                "title": "PH",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tdsValue",
                "title": "TDS",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humValue",
                "title": "Humidity",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "8b3a91a92453fd3a",
        "type": "function",
        "z": "5eb85658fb486e67",
        "name": "SetUpFirebaseData",
        "func": "var data = []\ndata[\"humValue\"] = msg.payload[0][\"humValue\"]\ndata[\"phValue\"] = msg.payload[0][\"phValue\"]\ndata[\"tempValue\"] = msg.payload[0][\"tempValue\"]\ndata[\"tdsValue\"] = msg.payload[0][\"tdsValue\"]\ndata[\"time\"]=msg.payload[0][\"timeStamp\"]\n\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6eb4efbbfacd8aff",
        "type": "telegram client sender",
        "z": "5eb85658fb486e67",
        "name": "",
        "bot": "38453e9c236cb604",
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "53051d18740fa5cd",
        "type": "mqtt in",
        "z": "5eb85658fb486e67",
        "name": "",
        "topic": "phValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "f12b1a1aa98b09b1",
                "985b96a6385195d7"
            ]
        ]
    },
    {
        "id": "abc7575463e37174",
        "type": "mqtt in",
        "z": "5eb85658fb486e67",
        "name": "",
        "topic": "tdsValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "f12b1a1aa98b09b1",
                "6a85e452d79cf5e7"
            ]
        ]
    },
    {
        "id": "b75beb897f68a5c5",
        "type": "ui_gauge",
        "z": "5eb85658fb486e67",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "985b96a6385195d7",
        "type": "ui_gauge",
        "z": "5eb85658fb486e67",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "6a85e452d79cf5e7",
        "type": "ui_gauge",
        "z": "5eb85658fb486e67",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "TDS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "c634786b02218dc8",
        "type": "function",
        "z": "5eb85658fb486e67",
        "name": "CheckForThreshold",
        "func": "var thresholds = {humValue: { low: 12, high: 25 },\n                  tempValue: { low: 20, high: 30 },\n                  phValue: { low: 5.5, high: 7 },\n                  tdsValue: { low: 600, high: 1600 },\n                  }\nvar currentData = msg.payload\n\nvar status = \"\"\nfor (let key in thresholds) {\n  if (currentData[key] < thresholds[key].low || thresholds[key].high < currentData[key]) {\n    status = `${status} ${key} reading is ${currentData[key]}. (range ${thresholds[key].low}-${thresholds[key].high}) \\n`\n  }\n}\n\nstatus =status +\"\\n /controls\" \nif(status!=\"\")\n{\n  msg.payload = {\n      \"api\": \"messages\",\n      \"func\": \"SendMessage\",\n      \"args\": {\n          \"peer\": \"shubham80621\",\n          \"message\": status\n      }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "6eb4efbbfacd8aff"
            ]
        ]
    },
    {
        "id": "405cc94de4a36e3e",
        "type": "telegram client receiver",
        "z": "5eb85658fb486e67",
        "name": "",
        "bot": "38453e9c236cb604",
        "sendrawevents": false,
        "sendnewmessage": true,
        "sendeditedmessage": false,
        "senddeletedmessage": false,
        "sendalbum": false,
        "sendcallbackquery": false,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "deddbff84dc53c58"
            ]
        ]
    },
    {
        "id": "8ac0721d0370aff4",
        "type": "function",
        "z": "5eb85658fb486e67",
        "name": "Create Tele Commands ",
        "func": "var msg = msg\n \nmsg.payload = {\n  \"api\": \"messages\",\n  \"func\": \"SendMessage\",\n  \"args\": {\n    \"peer\": \"shubham80621\",\n    \"message\": \"Choose an option: \\n /startIrrigation \\n /stopIrrigation\"\n  }\n};\n\nreturn [msg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "6eb4efbbfacd8aff"
            ]
        ]
    },
    {
        "id": "4e004aa6e66b9d12",
        "type": "function",
        "z": "5eb85658fb486e67",
        "name": "HandleIrrigation",
        "func": "var msg = msg\nif (msg.payload.message.message == \"/startIrrigation\"){\n   msg.payload = \"100\" \n   return msg;\n}\nelse if (msg.payload.message.message == \"/stopIrrigation\"){\n   msg.payload = \"0\" \n   return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "43c47a06a7c35567"
            ]
        ]
    },
    {
        "id": "deddbff84dc53c58",
        "type": "switch",
        "z": "5eb85658fb486e67",
        "name": "",
        "property": "payload.message.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/controls",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "/controls",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "8ac0721d0370aff4"
            ],
            [
                "4e004aa6e66b9d12"
            ]
        ]
    },
    {
        "id": "43c47a06a7c35567",
        "type": "debug",
        "z": "5eb85658fb486e67",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "3125ee5a8ea0abc1",
        "type": "ui_group",
        "name": "Guages",
        "tab": "d3fb97e7a614c68d",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7add96eb24337e9",
        "type": "ui_group",
        "name": "Data Table",
        "tab": "d3fb97e7a614c68d",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38453e9c236cb604",
        "type": "telegram client config",
        "botname": "Noderedexpbot",
        "verboselogging": false,
        "loginmode": "bot",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2",
        "info": "6499039108:AAGX8TObSomH6Frhw_bh3wr4kc_XrW6crPI\r\n"
    },
    {
        "id": "d3fb97e7a614c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]