TA2/flows.json
[
    {
        "id": "b5d27411649a58c0",
        "type": "ui_gauge",
        "z": "c017966c1073c88a",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 0,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "1dfeb1fe38550f3e",
        "type": "mqtt in",
        "z": "c017966c1073c88a",
        "name": "",
        "topic": "humValue",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "b5d27411649a58c0",
                "2a4b23f41817ed2c"
            ]
        ]
    },
    {
        "id": "825c0bc552bd6aea",
        "type": "mqtt in",
        "z": "c017966c1073c88a",
        "name": "",
        "topic": "tempValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "2a4b23f41817ed2c",
                "70c642b826aca9e0"
            ]
        ]
    },
    {
        "id": "36c9267b3b38b753",
        "type": "function",
        "z": "c017966c1073c88a",
        "name": "AddToArray",
        "func": "var tableData = flow.get(\"savedData\") || []\n\nmsg.payload[\"timeStamp\"] = new Date().toLocaleString()\n\nif(tableData.length>0 )\n{   \n   tableData.unshift( msg.payload)\n}\nelse if(tableData.length==0){\n   tableData.unshift( msg.payload)\n}\n\nmsg.payload = tableData\n\nflow.set(\"savedData\", tableData)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"savedData\", [])",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "312fe93816c249c1",
                "19268088aad8ca07"
            ]
        ]
    },
    {
        "id": "2a4b23f41817ed2c",
        "type": "join",
        "z": "c017966c1073c88a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "36c9267b3b38b753",
                "31ae1c3612f7566b"
            ]
        ]
    },
    {
        "id": "312fe93816c249c1",
        "type": "ui_table",
        "z": "c017966c1073c88a",
        "group": "d7add96eb24337e9",
        "name": "Data Table",
        "order": 1,
        "width": "20",
        "height": "5",
        "columns": [
            {
                "field": "timeStamp",
                "title": "Time Stamp",
                "width": "30%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tempValue",
                "title": "Temperature",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phValue",
                "title": "PH",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tdsValue",
                "title": "TDS",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humValue",
                "title": "Humidity",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "19268088aad8ca07",
        "type": "function",
        "z": "c017966c1073c88a",
        "name": "SetUpFirebaseData",
        "func": "var data = []\ndata[\"humValue\"] = msg.payload[0][\"humValue\"]\ndata[\"phValue\"] = msg.payload[0][\"phValue\"]\ndata[\"tempValue\"] = msg.payload[0][\"tempValue\"]\ndata[\"tdsValue\"] = msg.payload[0][\"tdsValue\"]\ndata[\"time\"]=msg.payload[0][\"timeStamp\"]\n\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e036a267320ec5f8",
        "type": "telegram client sender",
        "z": "c017966c1073c88a",
        "name": "",
        "bot": "38453e9c236cb604",
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d82614daaea8af57",
        "type": "mqtt in",
        "z": "c017966c1073c88a",
        "name": "",
        "topic": "phValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "2a4b23f41817ed2c",
                "a85c9902e95f3ecf"
            ]
        ]
    },
    {
        "id": "e97130b704a48728",
        "type": "mqtt in",
        "z": "c017966c1073c88a",
        "name": "",
        "topic": "tdsValue",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac6659385df72324",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "2a4b23f41817ed2c",
                "7ccf530b69dcb104"
            ]
        ]
    },
    {
        "id": "70c642b826aca9e0",
        "type": "ui_gauge",
        "z": "c017966c1073c88a",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 1,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "a85c9902e95f3ecf",
        "type": "ui_gauge",
        "z": "c017966c1073c88a",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "7ccf530b69dcb104",
        "type": "ui_gauge",
        "z": "c017966c1073c88a",
        "name": "",
        "group": "3125ee5a8ea0abc1",
        "order": 3,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "TDS",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "31ae1c3612f7566b",
        "type": "function",
        "z": "c017966c1073c88a",
        "name": "CheckForThreshold",
        "func": "var thresholds = {humValue: { low: 12, high: 25 },\n                  tempValue: { low: 20, high: 30 },\n                  phValue: { low: 5.5, high: 7 },\n                  tdsValue: { low: 600, high: 1600 },\n                  }\nvar currentData = msg.payload\n\nvar status = \"\"\nfor (let key in thresholds) {\n  if (currentData[key] < thresholds[key].low || thresholds[key].high < currentData[key]) {\n    status = `${status} ${key} reading is ${currentData[key]}. (range ${thresholds[key].low}-${thresholds[key].high}) \\n`\n  }\n}\n\nstatus =status +\"\\n /controls\" \nif(status!=\"\")\n{\n  msg.payload = {\n      \"api\": \"messages\",\n      \"func\": \"SendMessage\",\n      \"args\": {\n          \"peer\": \"shubham80621\",\n          \"message\": status\n      }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "e036a267320ec5f8"
            ]
        ]
    },
    {
        "id": "53aff4ac5311ac34",
        "type": "telegram client receiver",
        "z": "c017966c1073c88a",
        "name": "",
        "bot": "38453e9c236cb604",
        "sendrawevents": false,
        "sendnewmessage": true,
        "sendeditedmessage": false,
        "senddeletedmessage": false,
        "sendalbum": false,
        "sendcallbackquery": false,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "aa529636446f4bf9"
            ]
        ]
    },
    {
        "id": "aa529636446f4bf9",
        "type": "function",
        "z": "c017966c1073c88a",
        "name": "Create Tele Commands ",
        "func": "var msg = msg\n \nmsg.payload = {\n  \"api\": \"messages\",\n  \"func\": \"SendMessage\",\n  \"args\": {\n    \"peer\": \"shubham80621\",\n    \"message\": \"Choose an option: \\n /startIrrigation \\n /stopIrrigation\"\n  }\n};\n\nreturn [msg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "e036a267320ec5f8"
            ]
        ]
    },
    {
        "id": "3125ee5a8ea0abc1",
        "type": "ui_group",
        "name": "Guages",
        "tab": "d3fb97e7a614c68d",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ac6659385df72324",
        "type": "mqtt-broker",
        "name": "C140",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7add96eb24337e9",
        "type": "ui_group",
        "name": "Data Table",
        "tab": "d3fb97e7a614c68d",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38453e9c236cb604",
        "type": "telegram client config",
        "botname": "Noderedexpbot",
        "verboselogging": false,
        "loginmode": "bot",
        "useproxy": false,
        "usewss": false,
        "host": "",
        "sockstype": "5",
        "port": "6667",
        "username": "anonymous",
        "password": "",
        "secret": "",
        "mtproxy": false,
        "timeout": "2",
        "info": "6499039108:AAGX8TObSomH6Frhw_bh3wr4kc_XrW6crPI\r\n"
    },
    {
        "id": "d3fb97e7a614c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]